body {
  background-color: white;
  font-family: "Press Start 2P", cursive;
  margin: auto;
  width: 70%;
  padding: 50px;
}

main {
  background-color: #00741b;
  display: grid;
  grid-template-rows: 1fr 30px 2fr 40px 2fr 30px 60px 70px 20px;
  text-align: center;
  width: 650px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  background-color: black;
}
#dealer-sum {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dealer-side {
  background-color: #00741b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  /* justify-content: space-evenly; */
}

#face-down {
  box-sizing: border-box;
  display: inline-block;
  margin: 5px 5px 50px 5px;
  cursor: pointer;
  font-size: inherit;
  width: 6em;
  height: 8.25em;
  background-color: #fff;
  border-radius: 0.2em;
  border: 1px solid #c3c3c3;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.player-side {
  background-color: #00741b;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  justify-content: center;
}

.play-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#player-sum {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#play-button {
  background-color: #0088ff;
  color: white;
  padding: 1vmin;
  border-radius: 2vmin;
  cursor: pointer;
  border: 0.3vmin solid white;
  font-family: "Press Start 2P", cursive;
  width: 90px;
  height: 40px;
}

#hit-button {
  background-color: #0088ff;
  color: white;
  padding: 1vmin;
  border-radius: 2vmin;
  cursor: pointer;
  border: 0.3vmin solid white;
  font-family: "Press Start 2P", cursive;
  width: 90px;
  height: 40px;
}

#stand-button {
  background-color: #0088ff;
  color: white;
  padding: 1vmin;
  border-radius: 2vmin;
  cursor: pointer;
  border: 0.3vmin solid white;
  font-family: "Press Start 2P", cursive;
  width: 90px;
  height: 40px;
}

#new-game-button {
  background-color: #0088ff;
  color: white;
  padding: 1vmin;
  border-radius: 2vmin;
  cursor: pointer;
  border: 0.3vmin solid white;
  font-family: "Press Start 2P", cursive;
  width: 100px;
  height: 50px;
}

.bet-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: black; */
}

#five {
  background-color: #ab363e;
  color: white;
  padding: 1vmin;
  border-radius: 50px;
  cursor: pointer;
  border: 0.3vmin solid white;
  font-family: "Press Start 2P", cursive;
  width: 50px;
  height: 50px;
  font-size: 10px;
}

#ten {
  background-color: #274f7d;
  color: white;
  padding: 1vmin;
  border-radius: 50px;
  cursor: pointer;
  border: 0.3vmin solid white;
  font-family: "Press Start 2P", cursive;
  width: 50px;
  height: 50px;
  font-size: 10px;
  text-align: center;
}

#twenty {
  background-color: #eaad33;
  color: white;
  padding: 1vmin;
  border-radius: 50px;
  cursor: pointer;
  border: 0.3vmin solid white;
  font-family: "Press Start 2P", cursive;
  width: 50px;
  height: 50px;
  font-size: 10px;
  text-align: center;
}

#clear-bet {
  background-color: #0088ff;
  color: white;
  padding: 1vmin;
  border-radius: 2vmin;
  cursor: pointer;
  border: 0.3vmin solid white;
  font-family: "Press Start 2P", cursive;
  width: 80px;
  height: 43px;
  font-size: 10px;
  text-align: center;
}